docs/specs/5.0_sp1/FIXRepository50SP1/Abbreviations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dataroot">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Abbreviations" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Version">
      <xs:simpleType>
         <xs:restriction base="xs:string"><xs:enumeration value="4.4"/><xs:enumeration value="5.0SP1"/></xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Usage">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Term">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Abbreviation">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Abbreviations">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Term"/>
            <xs:element ref="Abbreviation"/>
            <xs:element ref="Usage"/>
            <xs:element ref="Version"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
