docs/specs/5.0_sp1/FIXRepository50SP1/Categories.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dataroot">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Categories" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Volume">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Section">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="NotReqXML" type="xs:byte"/>
   <xs:element name="IncludeFile">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="components"/>
            <xs:enumeration value="fields"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="GenerateImplFile" type="xs:boolean"/>
   <xs:element name="FIXMLFileName">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="ComponentType">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="Field"/>
            <xs:enumeration value="Message"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Category">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Categories">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Category"/>
            <xs:element ref="FIXMLFileName"/>
            <xs:element ref="NotReqXML"/>
            <xs:element ref="GenerateImplFile"/>
            <xs:element ref="ComponentType"/>
            <xs:element ref="Section" minOccurs="0"/>
            <xs:element ref="Volume"/>
            <xs:element ref="IncludeFile" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
