docs/specs/5.0_sp1/FIXRepository50SP1/Sections.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dataroot">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Sections" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Volume">
      <xs:simpleType>
         <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="FIXT.1.1"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Sections">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="Section"/>
            <xs:element ref="DisplayName"/>
            <xs:element ref="DisplayOrder"/>
            <xs:element ref="Desc"/>
            <xs:element ref="Volume"/>
            <xs:element ref="NotReqXML"/>
            <xs:element ref="FIXMLFileName"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="Section">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="NotReqXML" type="xs:byte"/>
   <xs:element name="FIXMLFileName">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="DisplayOrder">
      <xs:simpleType>
         <xs:restriction base="xs:int"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="DisplayName">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="Desc" type="xs:string"/>
</xs:schema>
